.yc_custom_radio_checkbox input {
  margin-top: 8px !important;
}

.wpmc-step-item.yc_sailors_form.current {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
  column-gap: 16px;
}

@media (max-width: 1024px) {
  .wpmc-step-item.yc_sailors_form {
    grid-template-columns: 1fr;
  }
}

.wpmc-step-item.yc_sailors_form p {
  width: 100% !important;
}

.woocommerce form .yc_sailors_form .form-row .input-checkbox {
  margin: 10px 4px 0 0 !important;
}

.woocommerce form .yc_sailors_form .form-row input[type="radio"] {
  margin: 10px 4px 0 0 !important;
}
